<div id="ribbon">

	<span class="ribbon-button-alignment"> 
		<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your settings." data-html="true">
			<i class="fa fa-refresh"></i>
		</span> 
	</span>
	<!-- breadcrumb -->
	<!-- <ol class="breadcrumb">
		<li>Home</li><li>Miscellaneous</li><li>Blank Page</li>
	</ol> -->
	<!-- end breadcrumb -->
	<span class="ribbon-button-alignment pull-right">
		<span class="label label-danger">
			<img src="ressources/img/blank.gif" class="flag {{optionsPage.flag_icon}}" alt="AB Tasty Australia"/>&nbsp;&nbsp;AB Tasty - {{optionsPage.country | uppercase}}
		</span>
	</span>

</div>